@inject DashboardState Dashboard

<CollapsibleSection SectionKey="modes" Title="Modes">
    <label class="oa-switch-row">
        <input type="checkbox" @bind="Dashboard.SettingsService.RagMode">
        <span class="oa-switch"></span>
        <span>RAG Mode</span>
    </label>
    <label class="oa-switch-row">
        <input type="checkbox" @bind="Dashboard.SettingsService.PerformanceMetrics">
        <span class="oa-switch"></span>
        <span>Performance Metrics</span>
    </label>
    <label class="oa-switch-row">
        <input type="checkbox" @bind="Dashboard.SettingsService.DebugMode">
        <span class="oa-switch"></span>
        <span>Debug Mode</span>
    </label>
</CollapsibleSection>
