{
  "AppConfiguration": {
    "Llm": {
      "ExecutablePath": "REPLACE_WITH_PATH_TO_llama-cli.exe",
      "ModelPath": "REPLACE_WITH_PATH_TO_model.gguf",
      "ModelName": "mistral-7b-instruct-v0.2.q5_k_m",
      "ModelType": "Mistral",
      "UseGpu": false,
      "GpuLayers": 0,
      "ContextSize": 2048
    }
  }
}
